<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/skeleton.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <div style="width: 800px; margin: 0 auto">
			<form method="POST">
				<h5><label for="input_text">Source text:</label></h5>
				<textarea id="input_text" name="text" placeholder="Input text...">{{ original }}</textarea><br>
				<input class="button-primary" type="submit" value="Analyse" style="float:right"><br><br>
				<h5><label for="output_text">Text with NERs:</label></h5>
				<div id="output_text" name="output_text" readonly>{{ text_with_ner | safe }}</div>
			</form>
			<p><span class="per">PER</span> - names</p>
			<p><span class="loc">LOC</span> - locations</p>
			<p><span class="org">ORG</span> - organizations</p>
		</div>
    </body>
</html>